<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div class="container">
  <h4><strong>Orders history:</strong></h4>
  <% if @orders.blank? %>
    <p>You have no order</p>
    <%= link_to "Go to Shopping", products_path %>
  <% else %>
    <% @orders.each do |order| %>
      <%= render "orders/order", order: order %>
    <% end %>
  <% end %>
</div>
